@model GreenFlamingos.Model.Drinks.Drink

@{
    ViewData["Title"] = "Stwórz Drinka";
    Layout = "~/Views/Shared/_LayoutOLD.cshtml";
}

<h4>Stwórz Drinka</h4>
<head margin-bottom:30px;>
<script src="~/js/GreenFlamingosScripts.js"></script>
</head>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Drink">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group1">
                <label asp-for="DrinkType" class="control-label"></label>
                <select asp-for="DrinkType" class="form-control" asp-items="new SelectList(ViewBag.DrinkType)"></select>
                <span asp-validation-for="DrinkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholContent" class="control-label"></label>
                <input asp-for="AlcoholContent" class="form-control" />
                <span asp-validation-for="AlcoholContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" style="width:100%;" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group1">
                <label asp-for="MainIngredient.DrinkMainIngredient" class="control-label"></label>
                <select asp-for="MainIngredient.DrinkMainIngredient" style="text-align:center;" class="form-control" asp-items="new SelectList(ViewBag.MainIngredients)"></select>
                <span asp-validation-for="MainIngredient.DrinkMainIngredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preparations" class="control-label"></label>
                <div id="divCont">
                    <div><input type="text" name="Preparation"/><input type="button" style="width:10%; background-color:green; height:38px; margin-left:3px; border: 1px solid #ced4da; border-radius: 0.25rem;"  onclick="AddTextBox()" value="+" /></div> 
                </div>
            </div>
             <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <div id="divCont1">
                    <div><input type="text" name="Ingredients"/><input type="button" style="width:10%; background-color:green; height:38px; margin-left:3px; border: 1px solid #ced4da; border-radius: 0.25rem;"  onclick="AddTextBox1()" value="+" /></div> 
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" style="width:100%;" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="mb-3">
                 <input class="form-control" asp-for="Photo" id="formFile" height="100" width="250">
                 </div>
                 <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj Napój" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
